#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.logo {
  height: 40px;
  width: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
